# .env.example
# Скопируйте этот файл в .env и заполните своими значениями

VITE_API_URL=http://your-domain.ru:5000/api
VITE_ALT_API_URL=http://localhost:5000/api

VITE_HOST=your-domain.ru
VITE_HOST_IP=your-server-ip