* {
    margin: 0 !important;
    transition: color ease 0.3s, background-color ease 0.3s;
}

@media(min-width: 769px) {
    .phone-visible {
        display: none;
    }

    .nav {
        position: fixed;
        left: 0;
        height: 100vh;
        z-index: 10000000;
    }
}

@media(max-width: 769px) {
    .pc-visible {
        display: none;
    }

    .nav {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .fs-18-mobile {
        font-size: 18px;
    }
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.table-alt td {
    text-align: start;
}

.table-alt th {
    text-align: start;
    font-weight: normal;
}

.error-select [class*="-control"] {
    border-color: red !important;
}